@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0     -     600px: Phone
600px   -   900px: Tablet portrait
900px   -  1200px: Tablet landscape
[1200px - 1800px]: Is where out normal styles apply
1800px... +      : Big desktop

// MORE INFORMATIONS
Tudo isso foi transformado em ems dentro do mixin.
1em = 16px

Logo dividiu-se cada valor para ter o resultado. Exemplos:
600px / 16px  = 37.5em
900px / 16px  = 56.25em
1200px / 16px = 75em
1800px / 16px = 112.5em

// ORDER TO RESPONSIVENESS
Base -> Typography -> General layout -> grid -> Page layout -> Components

// BREAKPOINT ARGUMENT CHOICES
- phone
- tab-port
- tab-land
- big-desk
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media(max-width: 37.5em) { @content }; // 600px
    }

    @if $breakpoint == tab-port {
        @media(max-width: 56.25em) { @content }; // 900px
    }

    @if $breakpoint == tab-land {
        @media(max-width: 75em) { @content }; // 1200px
    }

    @if $breakpoint == big-desk {
        @media(min-width: 112.5em) { @content }; // 1800px
    }
}